{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{title}}</h2>
<div class="row row-cols-1 row-cols-md-3">
     {% for listing in listings %}
  <div class="col mb-4">
    <div class="card">
      <img src="{{listing.image}}" class="card-img-top" alt="{{listing.title}}">
      <div class="card-body">
        <h5 class="card-title">{{listing.title}}</h5>
          <p class="card-text">{{listing.description}}</p>
          <p class="card-text"><small class="text-muted">Created {{listing.date}}</small></p>
          <a href="{% url 'listing_page' listing.id %}" class="btn btn-primary">Watch more...</a>
      </div>
    </div>
  </div>
    {% endfor %}
     </div>
{% endblock %}