{% extends 'auctions/layout.html' %}

{% block body %}
<div>
<h2>Title: {{listing.title}}</h2>
    </div>
<div>{{listing.description}}</div>
<div>ID - {{listing.id}}</div>
<br>
{% if active %}
<h2>Auction is active</h2>
{% else %}
<h2>Auction is closed</h2>
{% endif %}
<br>
{% if not remove %}
<form action="{% url 'watchlist'%}" method="post">
    {% csrf_token %}
    <button name="add_to_watchlist" value={{listing.id}}>Add to watchlist</button>
</form>
{% else %}
<form action="{% url 'watchlist'%}" method="post">
    {% csrf_token %}
    <button name="remove_from_watchlist" value={{listing.id}}>Remove from watchlist</button>
</form>
{% endif %}
<br>
<h2>Current bid</h2>
{% if bid %}
${{bid.bid|floatformat:2}} by {{bid.user}}
{% else %}
No bids yet
{% endif %}
<br>
<h3>Place bid</h3>
<form action="{% url 'place_bid' listing.id %}" method="post">
    {% csrf_token %}
    {{bid_form}}
    <input type="submit" value="Place Bid">
</form>
<br>
{% if close_auction %}
<form action="{% url 'close_auction'%}" method="post">
    {% csrf_token %}
    <button name="close_auction" value={{listing.id}}>Close auction</button>
</form>
{% endif %}
<br>
<h3>Comments</h3>
<ul>
    {%for comment in comments %}
    <li>{{comment.text}} by {{comment.user}}</li>
    {% empty %}
    <li>No comment yet</li>
    {% endfor %}
</ul>
<br>
<h3>Leave comment</h3>
<form action="{% url 'create_comment' listing.id %}" method="post">
    {% csrf_token %}
    {{comment_form}}
    <input type="submit" value="Comment">
</form>
{% endblock %}