{% extends 'auctions/layout.html' %}

{% block body %}
<div>
<h2>Title: {{listing.title}}</h2>
    </div>
<div>{{listing.description}}</div>
<div>ID - {{listing.id}}</div>
<br>
{% if not remove %}
<form action="{% url 'watchlist'%}" method="post">
    {% csrf_token %}
    <button name="add_to_watchlist" value={{listing.id}}>Add to watchlist</button>
</form>
{% else %}
<form action="{% url 'watchlist'%}" method="post">
    {% csrf_token %}
    <button name="remove_from_watchlist" value={{listing.id}}>Remove from watchlist</button>
</form>
{% endif %}
<br>

<h3>Comments</h3>
<ul>
    {%for comment in comments %}
    <li>{{comment}}</li>
    {% empty %}
    <li>No comment yet</li>
    {% endfor %}
</ul>
<br>
<h3>Leave comment</h3>
<form action="{% url 'create_comment' listing.id %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Comment">
</form>
{% endblock %}